.container .sectionLeft {
  margin-right: 0;
}
.container .sectionLeft {
  float: left;
  margin: 100px 60px 0 20px;
  padding-left: -30px;
  padding-right: 20px;
  background-color: #dfe5eb;
  border-radius: 20px;
}

.container h2 {
  border: 0;
  background-color: transparent;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 28px;
  font-weight: bold;
}

.sectionLeft ul {
  list-style: none;
}

.sectionLeft #line {
  border-top: 2px solid black;
  padding-left: 20px;
  margin-left: 30px;
}
.sectionLeft li {
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: bold;
  margin-left: -50px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: #1a76d1;
}
.container .contents .imgBox {
  border: 1px solid #d0e5ff;
}
