.faq {
  margin-top: 30px;
}
.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-content {
  display: flex;
  align-items: center;
}
.question-prefix {
  font-weight: bold;
  margin-right: 10px;
}
.question-text {
  margin-left: 10px;
}

.toggle-icon {
  transition: transform 0.3s;
  color: #a4a8a9;
}

.toggle-icon.open {
  transform: rotate(180deg);
}

.faq-answer {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  margin-top: 10px;
  background-color: #f0f2f4;
  border-radius: 11px;
}

.answer-prefix {
  font-weight: bold;
  margin-right: 10px;
}
