.common-width {
  width: 100%; /* 디자인에 맞게 조정 */
  max-width: 800px; /* 컨테이너의 최대 너비와 동일하게 설정 */
}

.inner {
  position: static;
  width: auto;
  max-width: 930px;
  padding: 0 10px;
  margin-left: 450px;
  /* border: 1px solid #ccc; */
}
.out {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.title {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title__table1 {
  width: 100%;
  border-collapse: collapse;
}
.tbody_1 tr td {
  padding: 10px;
  /* vertical-align: top; */
}
.title__1_a {
  width: 50%;
}
.tit {
  margin-left: 20px;
  font-weight: bold;
}

.inputtext1 {
  width: 70px;
  margin-right: 4px;
}
.inputtext2 {
  width: 100px;
  margin-right: 30px;
}
.label {
  width: 200px;
  margin-right: 10px;
}

/* 비만도 측정 */
.title__1 {
  padding: 15px 39px;
  color: #fff;
  background-color: #161e4b;
  font-size: 18px;
  margin-top: 20px;
}

.textContainer {
  width: 100%;
  padding-bottom: 15px;
  color: #4e4e4e;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  padding-left: 10px;
}
.textContainer1 {
  width: 100%;
  /* padding-bottom: 15px; */
  color: #4e4e4e;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  /* padding-left: 10px; */
  padding: 5px 10px 0 15px;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: 10px 0 15px 0;
  margin-left: 30px;
  /* justify-content: space-between; */
}
.inputContainer_c {
  display: flex;
  align-items: center;
  margin-top: 55px;
  margin-left: 45px;
}
p {
  margin-right: 10px;
}
em {
  margin-left: 10px;
  /* color: #767676; */
  font-size: 14px;
}
.pb10 {
  margin-left: 15px;
}
.cham {
  margin-left: 10px;
}

.ti_a1_1 {
  /* border: 1px solid lightgrey;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px; */
  border: 1px solid lightgrey;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  /* width: 100px; */
  box-sizing: border-box;
}

/* 검진결과 확인 및 질병예측 */
.title__2 {
  padding: 15px 39px;
  color: #fff;
  background-color: #161e4b;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}

/* 옵션사항, 민간 검진기관 검진 내역 결과 입력 */
.title__3 {
  padding: 15px 39px;
  color: #fff;
  background-color: #161e4b;
  font-size: 18px;
  margin-top: 20px;
}

button {
  position: relative;
  border: 0;
  padding: 15px 25px;
  display: inline-block;
  text-align: center;
  background-color: #1a76d1;
  color: #fff;
  font-weight: bold;
  margin-left: 400px;
  /* margin-left: 852px; */
  margin-bottom: 200px;
  font-size: 14px;
}
