<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${notice.id}">공지사항 수정</title>
    <title th:unless="${notice.id}">새로운 공지 작성</title>
</head>
<body>
<h1 th:if="${notice.id}">공지사항 수정</h1>
<h1 th:unless="${notice.id}">새로운 공지 작성</h1>
<form th:if="${notice.id}" th:action="@{/admin/notices/edit/{id}(id=${notice.id})}" method="post" th:object="${notice}">
    <input type="hidden" id="id" th:field="*{id}">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" th:field="*{title}" required><br><br>
    <label for="content">내용:</label><br>
    <textarea id="content" name="content" rows="5" th:field="*{content}" required></textarea><br><br>
    <button type="submit">수정</button>
</form>
<form th:unless="${notice.id}" th:action="@{/admin/notices/new}" method="post" th:object="${notice}">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" th:field="*{title}" required><br><br>
    <label for="content">내용:</label><br>
    <textarea id="content" name="content" rows="5" th:field="*{content}" required></textarea><br><br>
    <button type="submit">작성</button>
</form>
</body>
</html>
